<div class="header">
    <div class="logo">
        <div class="image-container">
            <img src="/assets/logo-inicio.png" alt="Logo">
        </div>
        <div class="text">TRANSLATOR TEXT</div>
    </div>
    <nav class="nav-menu">
        <a href="#">Inicio</a>
        <a href="#sobre-proyecto">Sobre Nosotros</a>
        <a href="#funcionalidades">Funcionalidades</a>
        <a href="#integrantes">Integrantes</a>
        <button (click)="navigateToLogin()">LOGIN</button>
    </nav>
</div>

<div class="main-content">
    <h1>TRANSLATOR TEXT</h1>
    <p class="subheading">And a subheading describing your site, too</p>
    <div class="shop-image">
        <h2>API DE SERVICIOS COGNITIVO</h2>
        <p>Una aplicación con un proceso sencillo, gracias a las amplia documentacion y SDKs proporcionada por
            Microsoft.</p>
    </div>
</div>

<!--Segunda seccion -->
<div id="segunda-seccion">
    <div id="segunda-seccion-izquierda">
        <h3 style="color: #011648;">SOBRE NOSOTROS</h3>
        <hr>
        <p>Los Servicios Cognitivos de Azure son un conjunto de APIs basadas en la nube que permiten a los
            desarrolladores integrar fácilmente capacidades de inteligencia artificial (IA) en sus aplicaciones. Estos
            servicios abarcan áreas como visión artificial, procesamiento de lenguaje natural, reconocimiento de voz y
            traducción automática.

            La API Translator Text es una poderosa herramienta de Microsoft Azure que forma parte de los Servicios
            Cognitivos de Azure. Esta API proporciona capacidades avanzadas de traducción automática de textos,
            permitiendo a los desarrolladores incorporar funcionalidades de traducción de idiomas en sus aplicaciones
            con facilidad.</p>
    </div>
    <div id="segunda-seccion-derecha">
        <div align="left"></div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MR4zzWzA_E8?si=ncTl6DKpVJjg2AhP"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
<!-- Agregar aquí el contenido de cada sección -->
<!--Tercera seccion -->
<div id="tercera-seccion">
    <div id="contenedor">
        <div id="tercera-seccion-izq" class="mitad"></div>
        <div id="tercera-seccion-der" class="mitad">
            <h3>FUNCIONALIDADES</h3>
            <hr>
            <p> La API proporciona capacidades completas para traducción de textos, incluyendo la traducción en tiempo
                real entre más de 70 idiomas diferentes, así como la detección automática del idioma de origen. Además
                de manejar textos cortos, también puede traducir documentos completos manteniendo su formato original.
                Los desarrolladores tienen la flexibilidad de personalizar los modelos de traducción para adaptarlos al
                tono y la terminología específica de su negocio o industria, lo que les permite integrar la traducción
                de manera más efectiva en sus aplicaciones globales.</p>
        </div>
    </div>
</div>

<!--comienza la cuarta seccion-->

<div id="integrantes" class="section" style="text-align: center;">
    <h2>Integrantes</h2>
    <div class="cards">
        <div class="card">
            <img src="/assets/integrantes.png" alt="Integrante 1">
            <h3>BRANDON GUERRERO MORE</h3>
        </div>
        <div class="card">
            <img src="/assets/integrantes.png" alt="Integrante 2">
            <h3>ANGHELA RODRIGUEZ BARRIOS</h3>
        </div>
        <div class="card">
            <img src="/assets/integrantes.png" alt="Integrante 3">
            <h3>EDGAR RAZIEL JUNES ACUÑA</h3>
        </div>
    </div>
</div>

<!-- banderas -->

 <!--final del carrusel -->
<footer class="footer">
    <p>&copy; 2024 TRANSLATOR TEXT. Todos los derechos reservados.</p>
</footer>
