@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #F1F0F6;
    --dark-grey: #8D8D8D;
    --light: #fff;
    --dark: #000;
    --green: #81D43A;
    --light-green: #E3FFCB;
    --blue: #6372F0;
    /* Updated color */
    --light-blue: #D0E4FF;
    --dark-blue: #0C5FCD;
    --red: #FC3B56;
    --azulraro: #011648;
}

html {
    overflow-x: hidden;
}


body {
    background: var(--grey);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.brand {
    font-size: 8px;
    /* Ajusta este valor según sea necesario para cambiar el tamaño del texto */
}

.brand .icon {
    margin-right: 8px;
    /* Ajusta el espaciado entre el icono y el texto si es necesario */
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    max-width: 260px;
    width: 100%;
    background: #011648;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all .3s ease;
    z-index: 200;
}

#sidebar.hide {
    max-width: 60px;
}

#sidebar.hide:hover {
    max-width: 260px;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar .brand {
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 64px;
    font-weight: 700;
    color: #f6f6f8;
    /* Updated color */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--light);
    transition: all .3s ease;
    padding: 0 6px;
}

#sidebar .icon {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

#sidebar .icon-right {
    margin-left: auto;
    transition: all .3s ease;
}

#sidebar .side-menu {
    margin: 36px 0;
    padding: 0 20px;
    transition: all .3s ease;
}

#sidebar.hide .side-menu {
    padding: 0 6px;
}

#sidebar.hide:hover .side-menu {
    padding: 0 20px;
}

#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #f6f6f8;
    padding: 12px 16px 12px 0;
    transition: all .3s ease;
    border-radius: 10px;
    margin: 4px 0;
    white-space: nowrap;
}

#sidebar .side-menu>li>a:hover {
    background: #011648;
}

#sidebar .side-menu>li>a.active .icon-right {
    transform: rotateZ(90deg);
}

#sidebar .side-menu>li>a.active,
#sidebar .side-menu>li>a.active:hover {
    background: #f6f6f8;
    /* Updated color */
    color: #011648;
}

#sidebar .divider {
    margin-top: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f6f6f8;
    transition: all .3s ease;
    white-space: nowrap;
}

#sidebar.hide:hover .divider {
    text-align: left;
}

#sidebar.hide .divider {
    text-align: center;
}

#sidebar .side-dropdown {
    padding-left: 54px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .15s ease;
}

#sidebar .side-dropdown.show {
    max-height: 1000px;
}

#sidebar .side-dropdown a:hover {
    color: #f6f6f8;
    /* Updated color */
}

#sidebar .ads {
    width: 100%;
    padding: 20px;
}

#sidebar.hide .ads {
    display: none;
}

#sidebar.hide:hover .ads {
    display: block;
}

#sidebar .ads .wrapper {
    background: #f6f6f8;
    padding: 20px;
    border-radius: 10px;
}

#sidebar .btn-upgrade {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: var(--light);
    background: var(--blue);
    /* Updated color */
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 12px;
}

#sidebar .btn-upgrade:hover {
    background: #f6f6f8;
}

#sidebar .ads .wrapper p {
    font-size: 12px;
    color: #f6f6f8;
    text-align: center;
}

#sidebar .ads .wrapper p span {
    font-weight: 700;
}

/* SIDEBAR */


/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all .3s ease;
}

#sidebar.hide+#content {
    width: calc(100% - 60px);
    left: 60px;
}

/* NAVBAR */
nav {
    background: #000000;
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav .toggle-sidebar {
    font-size: 18px;
    cursor: pointer;
}

nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

nav .form-group {
    position: relative;
}

nav .form-group input {
    width: 100%;
    background: #f6f6f8;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all .3s ease;
}

nav .form-group input:focus {
    box-shadow: 0 0 0 1px #f6f6f8, 0 0 0 4px #f6f6f8;
}

nav .form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #f6f6f8;
}

nav .nav-link {
    position: relative;
}

nav .nav-link .icon {
    font-size: 18px;
    color: #f6f6f8;
}

nav .nav-link .badge {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #f6f6f8;
    background: #011648;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6f6f8;
    font-size: 10px;
    font-weight: 700;
}

nav .divider {
    width: 1px;
    background: #f6f6f8;
    height: 12px;
    display: block;
}

nav .profile {
    position: relative;
}

nav .profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

nav .profile .profile-link {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: var(--light);
    padding: 10px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
    border-radius: 10px;
    width: 160px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}

nav .profile .profile-link.show {
    opacity: 1;
    pointer-events: visible;
    top: 100%;
}

nav .profile .profile-link a {
    padding: 10px 16px;
    display: flex;
    grid-gap: 10px;
    font-size: 14px;
    color: var(--dark);
    align-items: center;
    transition: all .3s ease;
}

nav .profile .profile-link a:hover {
    background: var(--grey);
}

/* NAVBAR */

/* MAIN */
main {
    padding: 36px 24px;
    overflow-x: hidden;
}


main .title {
    font-size: 26px;
    font-weight: 700;
    color: var(--blue);
}

main .breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 20px;
}

main .breadcrumbs li {
    display: flex;
    align-items: center;
}

main .breadcrumbs .divider {
    margin: 0 8px;
    color: #ffffff;
}

/* Estilo para los enlaces en el breadcrumb */
.breadcrumbs a {
    color: #ffffff;
    /* Color del texto de los enlaces */
    text-decoration: none;
    /* Elimina el subrayado */
    transition: color 0.3s ease;
    /* Añade una transición suave para el color */
}

.breadcrumbs a:hover {
    color: #ffffff;
    /* Color del texto cuando se pasa el mouse sobre el enlace */
}

.breadcrumbs .divider {
    color: #ffffff;
    /* Color del separador */
}

/* Estilo para el enlace activo */
.breadcrumbs a.active {
    font-weight: bold;
    /* Hace el enlace activo en negrita */
    color: #ffffff;
    /* Cambia el color del enlace activo */
}


/* CONTENT */

@media screen and (max-width: 768px) {
    #content {
        position: relative;
        width: calc(100% - 60px);
        transition: all .3s ease;
    }

    nav .nav-link,
    nav .divider {
        display: none;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}


.icon {
    margin-right: 10px;
}

/* Estilos para la tarjeta */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    font-weight: bold;
}

.card-body {
    padding: 20px;
}

/* Estilos para la tabla */
.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.data-table img {
    max-width: 90px; /* Ajusta el ancho máximo según sea necesario */
    height: auto;
    display: block; /* Para centrar horizontalmente */
    margin: 0 auto; /* Para centrar horizontalmente */
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.card1 {
    background-color: #011648; /* Color de fondo de la tarjeta */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.card1 h2 {
    margin: 0;
    font-size: 20px;
    color: #fff; /* Color del texto */
}

/* Estilos para los botones de exportación con imágenes */
.export-buttons button.export-pdf {
    background-color: transparent;
    background-image: url('/assets/exportaciones/pdf.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    padding: 30px; /* Ajusta según el tamaño deseado */
    cursor: pointer;
    margin-right: 20px; /* Ajusta según la separación deseada entre los botones */
}

.export-buttons button.export-csv {
    background-color: transparent;
    background-image: url('/assets/exportaciones/csv.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    padding: 30px; /* Ajusta según el tamaño deseado */
    cursor: pointer;
    margin-right: 20px; /* Ajusta según la separación deseada entre los botones */
}

.export-buttons button.export-excel {
    background-color: transparent;
    background-image: url('/assets/exportaciones/excel.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    padding: 30px; /* Ajusta según el tamaño deseado */
    cursor: pointer;
    margin-right: 20px; /* Ajusta según la separación deseada entre los botones */
}


/* Estilos para la paginación */
.pagination {
    margin-top: 20px; /* Espacio superior */
}

.pagination button {
    background-color: #011648;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; /* Espacio entre los botones */
}

.pagination span {
    margin: 0 10px; /* Espacio entre los botones y el texto */
}

